<article class="container">
  <div class="row">
      <div class="col-lg-4 mb-lg-5 mt-lg-5">
        <h3>{{ info('s-alquiler') }}</h3>
      </div>
      <div class="d-none d-lg-block borde mt-5"></div>
      <div class="offset-lg-1 col-lg-6 mb-5 mt-5">
        <p>
          <span>
            {{ info('s-reserva') }}
          </span>
        </p>
      </div>
      <div class="col-lg-6 offset-lg-3 mt-lg-5">
        <p>{{ info('s-ofrecemos') }}</p>
        <ul class="black">
          <li>
            <strong> {{ info('s-linea') }} </strong>
          </li>
          <li>
            <strong>
              {{ info('s-servicio') }}
            </strong>
          </li>
          <li>
            <strong>
              {{ info('s-servicio-pres') }}
            </strong>
          </li>
          <li>
            <strong>
              <span class="black">
                {{ info('s-servicio-dis') }}
              </span>
            </strong>

            <ul>
              <li>{{ info('s-circuitos') }}</li>
              <li>{{ info('s-equipos') }}</li>
              <li>{{ info('s-excursiones') }}</li>
            </ul>
          </li>
        </ul>
      </div>
      
  </div>
</article>