<section class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="text-center text-uppercase">{{ info('s-alquiler') }}</h2>
    <hr class="star-dark mb-5">

    <div class="row justify-content-center">
      <div class="col-lg-8">
        <p>
          {{ info('s-reserva') }}
        </p>
      </div>
    </div><!-- Row -->

    <div class="row justify-content-center">
      <div class="text-center mt-4">
        <p>{{ info('s-ofrecemos') }}</p>
        <ul class="black text-left">
          <li>
            <strong> {{ info('s-linea') }} </strong>
          </li>
          <li>
            <strong>
              {{ info('s-servicio') }}
            </strong>
          </li>
          <li>
            <strong>
              {{ info('s-servicio-pres') }}
            </strong>
          </li>
          <li>
            <strong>
              <span class="black">
                {{ info('s-servicio-dis') }}
              </span>
            </strong>
  
            <ul>
              <li>{{ info('s-circuitos') }}</li>
              <li>{{ info('s-equipos') }}</li>
              <li>{{ info('s-excursiones') }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- Row -->

  </div>
</section>