<!-- Contact Section -->
<section id="contact" (click)="cerrarMensaje()">
  <div class="container">
    <div *ngIf="exito" class="alert alert-success" >
      {{ info('at-success') }}
    </div>
    
    <h2 class="text-center text-uppercase text-secondary mb-0">{{ info('at-cn') }}</h2>
    <div class="row mt-4 justify-content-center">
      <div class="col-lg-10">
          <p class="text-center text-uppercase text-secondary mb-0">
            {{ info('at-si') }}
          </p>
      </div>
    </div>
    <hr class="star-dark mb-5">

    <div class="row mt-4 justify-content-center">
      <div class="col-lg-6">
        <h4 class="text-center text-uppercase text-secondary mb-0">{{ info('at-ho') }}</h4>
        <p class="text-center text-uppercase text-secondary mb-0">{{ info('at-hor') }}</p>
      </div>
    </div>
    <hr class="star-dark mb-5">

    <div class="row mt-5">
      <div class="col-lg-8 mx-auto">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label for="nombre">{{ info('at-nam') }}</label>
              <input id="nombre" type="text" placeholder="{{ info('at-pl-nam') }}" class="form-control" formControlName="nombre">
              <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.touched || nombre.dirty)">
                <div *ngIf="nombre.errors?.required">{{ info('at-r-na') }}</div>
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label for="correo">{{ info('at-cor') }}</label>
              <input id="correo" type="email" placeholder="{{ info('at-pl-cor') }}" class="form-control" formControlName="correo">
              <div *ngIf="correo.invalid && (correo.touched || correo.dirty)" class="alert alert-danger">
                <div *ngIf="correo.errors.required">{{ info('at-r-ma') }}</div>
                <div *ngIf="correo.errors.pattern">{{ info('at-r-inv') }}</div>
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label for="telefono">{{ info('at-tlf') }}</label>
              <input id="telefono" type="text" class="form-control" placeholder="{{ info('at-pl-tlf') }}" formControlName="telefono">
              <div *ngIf="telefono.invalid && (telefono.touched || telefono.dirty)" class="alert alert-danger">
                <div *ngIf="telefono.errors.pattern">
                  {{ info('at-r-tlf') }}
                </div>
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label for="mensaje">{{ info('at-mnj') }}</label>
              <textarea class="form-control" id="mensaje" rows="5" placeholder="{{ info('at-mnj') }}" formControlName="mensaje"></textarea>
              <div *ngIf="mensaje.invalid && (mensaje.touched || mensaje.dirty)" class="alert alert-danger">
                <div *ngIf="mensaje.errors.required">{{ info('at-r-msj') }}</div>
              </div>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-xl" [disabled]="form.invalid">{{ info('at-env') }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>