<section id="contact" (click)="cerrarMensaje()">
  <div class="container">
    <div *ngIf="success" class="alert alert-success">
      {{ info('h-ticket') }}
    </div>
    <h2 class="text-center text-uppercase text-secondary mb-0">{{ info('r-hed') }}</h2>
    <hr class="star-dark mb-5">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form class="mt-5" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="control-group">
            <div class="form-group controls mb-0 pb-2">
              <label for="origen">{{ info('h-or') }}</label>
              <select id="origen" formControlName="origen" class="form-control">
                <option *ngFor="let or of origenes" value="{{or}}">
                  {{or}}
                </option>
              </select>
              <div *ngIf="origen.errors && (origen.touched || origen.dirty)" class="alert alert-danger">
                <div *ngIf="origen.errors.required">
                  {{ info('h-error-origen') }}
                </div>
              </div>
            </div>
          </div><!-- Control group -->

          <div class="control-group">
            <div class="form-group controls mb-0 pb-2">
              <label for="destino">{{ info('h-des') }}</label>
              <select id="destino" formControlName="destino" class="form-control centrar">
                <option *ngFor="let des of destinos" value="{{des}}">{{des}}</option>
              </select>

              <div *ngIf="destino.invalid && (destino.touched || destino.dirty)" class="alert alert-danger">
                <div *ngIf="destino.errors.required">
                  {{ info('h-error-destino') }}
                </div>
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group controls mb-0 pb-2">
              <label for="fecha">{{ info('h-fe') }}</label>
              <input id="fecha" type="date" min="{{date}}" id="myInput" formControlName="fecha" class="form-control">

              <div *ngIf="fecha.errors && (fecha.touched || fecha.dirty)" class="alert alert-danger">
                <div *ngIf="fecha.errors.required">
                  {{ info('h-fe-req') }}
                </div>
                <div *ngIf="fecha.errors.prevDate">
                  {{ info('h-fe-today') }}
                </div>
                <div *ngIf="fecha.errors.tooLate">
                  {{ info('h-fe-future') }}
                </div>
                <div *ngIf="fecha.errors.dateInvalid">
                  {{ info('h-wrong') }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-xl" [disabled]="form.invalid">{{ info('at-env') }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>