<section class="mb-0" id="about">
  <div class="container">
    
    <h2 class="text-center text-uppercase">{{ info('a-titulo') }}</h2>
    <hr class="star-dark mb-5">

    <div class="row">
      <div class="col-lg-8 ml-auto">
        <p>
          {{ info('a-about') }}
        </p>
      </div>
      <div class="col-lg-4 mr-auto">
        <img src="../../../assets/img/sillones.jpg" alt="Sillones">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2>{{ info('a-join') }}</h2>
    </div>

    <div class="row mt-4">
      <div class="col-lg-5 ml-auto">
          <h3>{{ info('a-personal') }}</h3>
          <ul>
            <li>{{ info('a-dir') }}</li>
            <li>{{ info('a-ad-per') }}</li>
            <li>{{ info('a-ad-con') }}</li>
            <li>{{ info('a-jf') }}</li>
            <li>{{ info('a-cd') }}</li>
          </ul>
          <p>{{ info('a-flor') }}</p>
      </div>
      <div class="col-lg-5 mr-auto">
          <p>{{ info('a-inten') }}</p>
          <p>{{ info('a-humanos') }}</p>
      </div>
    </div>

    <div class="text-center mt-4">
      <h2>{{ info('a-cond') }}</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 ml-auto">
          <h4 class="text-center">
            {{ info('a-seguridad') }}
          </h4>
          <img src="../../../assets/img/safety.jpg" alt="" width="100%" height="auto">
          <ul class="text-center mt-3">
            <li>{{ info('a-s-cin') }}</li>
            <li>{{ info('a-s-ve') }}</li>
            <li>{{ info('a-s-ant') }}</li>
            <li>{{ info('a-s-est') }}</li>
            <li>{{ info('a-s-abs') }}</li>
            <li>{{ info('a-s-asr') }}</li>
            <li>{{ info('a-s-gps') }}</li>
            <li>{{ info('a-s-anti') }}</li>
            <li>{{ info('a-s-bas') }}</li>
            <li>{{ info('a-s-fat') }}</li>
            <li>{{ info('a-s-sat') }}</li>
          </ul>
      </div>

      <div class="col-lg-4 mr-auto">
        <h4 class="text-center">{{ info('a-conf') }}</h4>
        <img class="mb-3" src="../../../assets/img/conf.jpg" alt="" width="100%" height="auto">
        <ul class="text-center mt-4">
          <li>{{ info('a-c-wifi') }}</li>
          <li>{{ info('a-c-car') }}</li>
          <li>{{ info('a-c-sis') }}</li>
          <li>{{ info('a-c-son') }}</li>
          <li>{{ info('a-c-apo') }}</li>
          <li>{{ info('a-c-lz') }}</li>
          <li>{{ info('a-c-dvd') }}</li>
          <li>{{ info('a-c-mus') }}</li>
          <li>{{ info('a-c-nev') }}</li>
          <li>{{ info('a-c-wc') }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>