<!--
<footer class="py-2 bg-footer fixed-bottom">
  <div class="container">
    <p class="m-0 text-center text-black">{{ info('f-copy') }} {{ data }}</p>
  </div>
</footer>
-->

<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">{{ info('f-dir') }}</h4>
        <p class="lead mb-0">
          {{ info('f-per') }}
        </p>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">{{ info('f-sig') }}</h4>
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" routerLink="/about" routerLinkActive="active-link">
              <i class="fab fa-fw fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" routerLink="/contactanos" routerLinkActive="active-link">
              <i class="fab fa-fw fa-google-plus-g"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" routerLink="/reserva" routerLinkActive="active-link">
              <i class="fab fa-fw fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" routerLink="/servicios" routerLinkActive="active-link">
              <i class="fab fa-fw fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="text-uppercase mb-4">{{ info('f-ab') }}</h4>
        <p class="lead mb-0">{{ info('f-about') }}</p>
      </div>
    </div>
  </div>
</footer>